* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

body {
    background-color: #000000;
    color: white;
}

header {
    background-image: url(background_image.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header .principale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px; /* Ajustez cette valeur pour réduire la taille du logo */
    height: auto;
    margin-right: 10px; /* Espacement entre le logo et le texte */
    border-radius: 50%; /* Ceci rend l'image circulaire */
}

.connexion-logo img {
    width: 50px; /* Taille du logo de connexion */
    height: auto;
    margin-left: 20px; /* Espacement à gauche du logo de connexion */
    border-radius: 50%; /* Ceci rend l'image circulaire */
    transition: filter 0.3s ease; /* Transition pour un changement en douceur */
}

.connexion-logo:hover img {
    filter: brightness(1.2); /* Légère augmentation de la luminosité lors du survol */
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    transition: 0.6s ease;
    margin-top: 20px; /* Ajoute de l'espace au-dessus des boutons */
}

ul li a:hover {
    background: #fff;
    color: black;
}

ul li.active a {
    background: #fff;
    color: black;
}

.principale {
    max-width: 114rem;
    margin: 0 auto;
}

.contenu {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 170px;
}

.contenu .text-boite {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.contenu .text-boite a {
    display: inline-block;
    padding: 10px 20px;
    margin: 30px 0;
    color: #333;
    font-weight: 600;
    background: #ADD8E6;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.6s ease-in-out;
    position: relative;
}

.text-boite a span {
    width: 0;
    height: 100%;
    background: #1d3e48;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.6s ease-in-out;
    border-radius: 10px;
}

.text-boite a:hover span {
    width: 100%;
}

.text-boite a:hover {
    color: #ADD8E6;
}

.contenu .text-boite h2 {
    color: #ADD8E6;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 
        -1px -1px 0 #ADD8E6,  
        1px -1px 0 #ADD8E6,
        -1px 1px 0 #ADD8E6,
        1px 1px 0 #ADD8E6;
}

.contenu .text-boite p {
    color: #ADD8E6;
    margin-top: 40px;
}

.contenu .imgboite {
    position: relative;
    z-index: 1;
    flex-basis: 48%;
}

.contenu .imgboite img {
    max-width: 600px;
}

/* Styles pour la page de connexion */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 90%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
}

.login-container h2 {
    color: #ADD8E6;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #ADD8E6;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #87CEEB;
}
