*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header{
    background-image: url(imagefond.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo a{
    color:#fff;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);
}

.logo span{
    color:red;
    font-weight: bold;
    font-size: 2rem;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 40px;
    background:rgba(0, 0, 0, 0.7);
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}

ul li a:hover{
    background: #fff;
    color: black;
}

ul li.active a{
    background: #fff;
    color: black;
}

.principale{
    max-width: 114rem;
    margin: 0 auto;
}

.contenu{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 170px;
}

.contenu .text-boite{
    flex-basis: 48%;
    margin-bottom: 20px;
}

.contenu .text-boite a{
    display: inline-block;
    padding: 10px 20px;
    margin: 30px 0;
    color: #333;
    font-weight: 600;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.6s ease-in-out;
    position: relative;
}

.text-boite a span{
    width: 0;
    height: 100%;
    background: #039ac8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.6s ease-in-out;
    border-radius: 10px;
}

.text-boite a:hover span{
    width: 100%;
}

.texte-boite a:hover{
    color: #fff;
}

.contenu .text-boite h2{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

.contenu .text-boite p{
    color: #fff;
    margin-top: 20px;
}

.contenu .imgboite{
    flex-basis: 48%;
}

.contenu .imgboite img{
    max-width: 600px;
}





